{% extends 'meetups/base/base.html' %}

{% load static %}

{% block title %}You registered successfully!{% endblock %}

{% block site_css %}
<link rel="stylesheet" href="{% static 'meetups/style/registration-confirmation.css' %}">
{% endblock %}

{% block main_heading %}
Thanks for signing up!
{% endblock %}

{% block body %}
<section id="confirmation">
    <h2>Welcome!</h2>
    <p>Got Questions? Contact <a href="mailto:{{ meetup.organiser_email }}"></a></p>
</section>
<section id="continue">
    <p><a href="/meetups" class="btn">Explore our other meetups!</a></p>
</section>

{% endblock %}